body, html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "PingFang SC", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC";
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
}

.container {
    width: 704px;
    margin: 0 auto;
}

.profile {
    margin: 18px 0;
}

h1 {
    margin-top: 28px;
    margin-bottom: 16px;
    font-size: 22px;
    border-left: 3px solid indianred;
    padding-left: 8px;
}

a {
    color: indianred;
    text-decoration: none; 
}

ul {
    list-style: none;
    padding-left: 0;
}

.profile {
    display: flex;
    padding-bottom: 8px;
}

.profile .info {
    flex-grow: 1;
}

.profile .avatar {
    margin-right: 32px;
    width: 128px;
    height: 128px;
    border-radius: 128px;
}

.profile .item {
    margin-bottom: 6px;
}

.name {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.age, .degree, .school {
    margin-right: 12px;
}

.profile .basic {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

.profile .contact {
    display: flex;
    justify-content: space-between;
}

b {
    color: rgba(0,0,0,0.95);
    font-weight: bold;
}

.work {
    margin-bottom: 22px;
}

.work .row1 {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
}

.work .title {
    font-weight: lighter;
}

.work .time {
    margin-left: auto;
    font-size: 16px;
}